{
    "plugins": [
        "cypress"
    ],
    "env": {
        "cypress/globals": true
    },
    "extends": [
        "plugin:cypress/recommended"
    ],
    "rules": {
        "testing-library/await-async-utils": "off"
    }
}
